*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.call{
    text-align: center;
    align-content: center;
    margin-top: 50px;
}
.call input, button{
    border-radius: 20px;
    border: 1px solid black;
    padding: 7px 20px;
    margin-top: 10px;
    font-size: 20px;

}